In [6]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set

In [7]:
raw_data = pd.read_csv('Book3.csv')

In [9]:
# .copy:this is to copy the value of dummy to data
#.map:is used to map a value to a variable
data = raw_data.copy()
data['average'] = data['average'].map({'yes':1, 'no':0})
data

    s_no  scores  average
0    101      27        0
1    102      30        0
2    103     100        1
3    104      66        1
4    105      77        1
5    106      95        1
6    107      87        1
7    108      99        1
8    109      54        1
9    110      70        1
10   111      65        1
11   112      66        1
12   113      70        1
13   114      99        1
14   115      49        0
15   116      62        1
16   117      38        0
17   118      75        1
18   119      54        1
19   120      65        1
20   121      45        0
21   122      84        1
22   123      95        1
23   124      46        0
24   125      59        1
25   126      36        0
26   127      60        1
27   128      15        0
28   129      45        0

In [7]:
y = data['average']
x1 = data['scores']

In [10]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.000000
         Iterations: 35

C:\Users\HP\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [12]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                average   No. Observations:                   29
Model:                          Logit   Df Residuals:                       27
Method:                           MLE   Df Model:                            1
Date:                Sat, 20 Jul 2019   Pseudo R-squ.:                   1.000
Time:                        23:35:13   Log-Likelihood:            -1.1478e-07
converged:                      False   LL-Null:                       -17.962
                                        LLR p-value:                 2.052e-09
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -350.2410   6.08e+04     -0.006      0.995    -1.2e+05    1.19e+05
scores         6.8085   1182.072      0.006      0.995   -2310.009    2323.626
==============================================================================

Complete Separation: The results show that there iscomplete separation.
In this case the Maximum Likelihood Estimator does not exist and the parameters
are not identified.
"""